*.class
.idea/
atlassian-ide-plugin.xml
# Package Files #
*.jar
*.war
*.ear
*.ipr
*.iws
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings/
build/
.classpath
.project
.tern-project

target/

