# Java compiled files
*.class
*.releaseBackup

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDE
*.ipr
*.iml
.idea

# Maven Build Target
target/


# Eclipse IDE
.project
.classpath
.settings
.checkstyle

server-work
rest/server-work/
rest/log
/release.properties

dependency-reduced-pom.xml.bak

*.log

*.iws

*.HIDE
*.ORIG
*.SAVE

.DS_Store
bin
pom.xml.bak
*~
