FORMAT: 1A
HOST: https://objects.smartcosmos.net

# SMART COSMOS Objects
![SMART COSMOS Objects](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/objects.png)


**A platform purposefully built to be an application's contextual data store.**  
  
## Document Status 
This document is a **work in progress**. It only describes the **public facing API** of the platform, as the platform itself is proprietary. 

## Maven Central for Java
If you are building a pure Java solution, consider using our [SMART COSMOS Platform Core library](http://search.maven.org/#search%7Cga%7C1%7Cnet.smartcosmos "SMART COSMOS Platform Core Library"), hosted at Maven Central and registered under "net.smartcosmos::platform-core"
Additionally, we offer a pure Java client that eliminates the need of working with the low level REST API. It is named [SMART COSMOS Java Client library](http://search.maven.org/#search%7Cga%7C1%7Cnet.smartcosmos "SMART COSMOS Java Client Library") and registered under "net.smartcosmos::java-client".

For the latest stable JavaDoc, please visit [http://developer.smartcosmos.net/smartcosmos-sdk-java/stable/index.html](http://developer.smartcosmos.net/smartcosmos-sdk-java/stable/index.html "Stable JavaDoc URL").

## The SMART COSMOS Objects Hypothesis

- Every app captures context at some level
- Every app tries to capture metadata, hash tags, location data, timestamps, files, etc.
- Every app seemingly designs these same patterns _over, and over and over and over…_

SMART COSMOS Objects was designed as a platform; with minimal effort it can sit atop of other platform services you are already paying 
for, lowering the total cost of adoption.

## Semantic Web, *including verbs*
Most definitions of the *semantic web* indirectly focus on nouns. The idea of creating both a human-readable and machine-readable definition
of what constitutes a car, a recipe, a book, etc. SMART COSMOS Objects expands upon this concept by recognizing that verbs can benefit from this type
of duality as well. 

Under the Semantic Web definition, *Person* drives *Truck* would typically capture all the metadata around the person and the truck. However, with
SMART COSMOS context can also be captured around the verb in the sentence, *drives*. The resulting trigraph could have its own complete set of context. 
*Person* could contain details about me, my driver's license number, my height, weight, address, passport RFID number, etc. Similar characteristics 
could be captured for *truck* such as the fact it is a 2004 model, it is black, has a VIN number of XYZ, etc. That brings us to the verb, *drives*. 
The *drives* member of the graph could also have context - a complete timeline and history of each and every trip the person took with the truck:

- When did a trip start?
- Where did the person stop during the drive?
- What was the average speed over the duration of a given drive?
- How many miles did the person travel over the entire drive?

Using the SMART COSMOS Objects timeline feature, one could easily capture every drive *person* ever completed with *truck* and rapidly feed those results into 
3rd party analytical engines by virtue of the OAuth powered event-driven extension mechanism. 

> The foundations of the Semantic Web are predicated upon capturing fidelity around nouns. All context is critical, and SMART COSMOS Objects was designed to 
embrace the capture of both nouns *and* verbs equally effectively.

## What is a _Context_ Data Store?
Every application captures context to some degree. There will always be application specific entities that don't map well into 
the SMART COSMOS Objects platform. SMART COSMOS Objects isn't intended to totally eliminate the need for your application to have some type of 
persistence layer. It is, however, intended to compliment that layer by offering *context services*. So how does SMART COSMOS Objects 
define context?

Context starts the notion of a *thing*. This could be any noun-- think person, place, or (sorry) thing. Every *thing* in your 
system can be described using various types of *characteristics*. These characteristics may be simple, like eye color is blue 
or shape is square, or they may be more advanced, such as a 3D model of a building. Context changes over time, so every 
contextual model must consider both *space and time* (adding that 4th dimension to the mix). Finally, context must include the 
concepts of *relationship* and *interaction*. For example, a person Jason may have a relationship with Foo Bank, and he interacts 
with the bank everytime he makes a deposit or withdrawl. 

A few final noteworthy comments about context. First, relationships are binary in nature; true or false. Either Jason has an 
account with Foo Bank, or he doesn't. There is no inbetween or ambiguity. Second, interactions operate using a "0, 1, or many" 
cardinality. Finally, the notion of a relationship isn't restricted to the traditional "is-a" or "has-a" concepts defined by 
the semantic web. Verbs are valid relationships! *Jason "likes" Meredith* and *Jason "worked on" Air Conditioner* are both 
valid relationships. 

## How SMART COSMOS Objects Models Context
### Objects
The contextual *thing* we talked about above is simply referred to as an *Object* in SMART COSMOS Objects. Every Object can be fully 
described using the SMART COSMOS Objects platform. Take a look at this graphic:

![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/object-characteristics.png "Object Characteristics")
  
An Object can use the type-safe key-value pairs of *metadata* to describe characteristics. It can have a relationship with one 
or more geospatial definitions, built using the open [GeoJSON 1.0 Specification](http://geojson.org "GeoJSON Web Site"). 

Today's world has rapidly become smart device driven. Smartphones, tablets, laptops, and even specialized fashion accessories 
like Google Glass and smart watches are both fashion statements and the norm. Every *device* in SMART COSMOS Objects is a first-class
citizen, and possession of a device can be linked to an Object. *Joe "borrowed" iPad* and *Sam "owns" iWatch* are legitimate 
device relationships with an Object.

An Object may be assigned any number of *tags*. Tags are like categories, but they are intended to be much more specific. In the 
blog world, for example, tags are used to create a mini index into a specific blog posting. In contrast, blog categories tend to 
represent a table of contents. Tags are also (typically) intended to be used as they are in Twitter, Facebook, and other social 
media applications.

An Object may be responsible for producing any number of *files*, including pictures, videos, documents, presentations, manuals, 
etc. 

Depending on the type of Object, it may have a *geospatial* relationship that precisely defines the perimeter of a building, 
it could represent a "check-in" at a common location, or it could represent the complete path, including stops, if the Object 
happens to be a delivery driver.

Capturing chronological sequencing is import when dealing with context. Did the Object do A or B first? A *timeline* provides 
a means to capture the chronological history of an Object.

### Relationships
Relationships are a critical component in understanding context. Relationships in SMART COSMOS Objects are binary in nature, true or 
false, exist or do not exist.
 
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/relationship.png "Relationship Between 2 Objects")

Modeling relationships with SMART COSMOS is not restricted to the traditional "is-a" or "has-a" concepts commonly associated
with the semantic web. Relationships may be action verbs to indicate a higher order relationship between two objects. 
Relationships in SMART COSMOS Objects are not reflexive per se. If a object Foo likes object Bar, that doesn't imply that Bar likes Foo. 
In order to capture the reflexive nature, a second reciprocal relationship would have to explicitly be defined.

### Interactions
Unlike relationships that are meant to captures a binary existence, an interaction maintains a higher cardinality; they are 
intended to be singular or recurring events.
  
Interactions share the same set of descriptive capabilities found on an Object, as depicted below.

![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/interaction.png "Interaction Between 2 Objects")

Check out our [primary data types](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/blob/master/DATA_TYPES.md "Primary Data Types") to see
our incredibly intuitive object model.

### A Contextual Illustration
Consider the following arbitrary example. Jason, a person, is represented as an Object in the system. He has metadata that 
describes his stature, files that contain pictures of him, etc. 

Jeep Rubicon, a vehicle, is also represent as an Object in the system. It has metadata that describe the vehicle, like color = 
black. It also has a geospatial representation associated with it the accurately defines the perimeter of the vehicle, like its 
wheel base, height, width, etc. 

There is a relationship captures that indicates that Jason "owns" Jeep Rubicon.

A series of interactions are captured to represent each time that Jason drove the Jeep Rubicon. Each interaction captures a 
geospatial object that represents the physical route that Jason followed while driving the vehicle. Since Jason made 3 stops
while he was out, those stops are captured with the timeline. During the drive, Jason had a flat tire, so there is a tag 
"#flat" associated with that interaction. He also filled up with gas before returning home, so another tag "#fillup" is noted.

## Persistence, Not Analytics
### It's not an Analytical Engine...
The platform wasn't built to perform Big Data analytics- it was meant to store the data that can be fed into a Big Data 
analytics system. It's a subtle difference that shouldn't be quickly dismissed. There are dozens, if not hundreds of analytical 
and expert systems on the market today. Ask yourself this simple question:

*Where are you going to store the authoritative copy of your raw underlying data?*

If you are searching for a solution to free you from storing your data in a proprietary system, possibly creating some type 
of "vendor lock-in," then SMART COSMOS Objects is what you are looking for. Using Web Services and JSON, push your authoritative records 
to SMART COSMOS Objects. Wire up SMART COSMOS Objects to your current preferred analytics engine. Interested in seeing what this new expert system 
can do with your data? Wire up SMART COSMOS Objects to push data into that system and give it try! 

### ...It's About Persistence
As you can see, SMART COSMOS Objects can easily associate virtually _anything_ with _anything_. Hashtags, key-value metadata, and 
arbitrary files of any type or size are easily associated with an Object or other top level entities. Data is securely stored 
in the Cloud. SMART COSMOS Objects can capture innate relationships like parent-child, peer and neighbor, and it can equally capture 
actions by or between objects.

## Other Noteworthy Features

### Near Real-Time Integration
We get it- *you* generated the data, *you* want to own the data, and, you want us to push it "over here" in a timely manner. 
That's exactly what the SMART COSMOS Objects platform can do. Today the platform can push data to any HTTPS end point. As soon as we 
digitally sign and persist the data we just received, we'll push a copy of that data to you using JavaScript Object Notation 
(JSON) as fast as the ether will carry the bits. Check out our [Event Stream](EVENT.md "Event Stream") model to see how easy 
it is to understand the data feed.

### Extension Architecture
The SMART COSMOS Objects platform was designed from scratch with a plugin model; we call them *extensions*. Remember how we said that 
we aren't an analytical engine? We aren't, but maybe you are. Use any modern language- Python, Ruby, Java, .NET, or anything 
that can talk to us using HTTP and JSON. We built our authorization model around the 
[OAuth 2.0 Specification (RFC 6749)](http://tools.ietf.org/html/rfc6749 "OAuth 2.0 Specification"), and data owners can grant 
you read or write access in a very granular fashion.

## Technical Notes

### RESTful Web Service Architecture
The SMART COSMOS Objects platform is built around a set of RESTful web service endpoints that use JavaScript Object Notation (JSON) to 
represent state. The platform's RESTful JSON architecture means you can easily adopt the platform using _any_ modern programmaing 
language.

### Authorization
Several interface calls require a [HTTPS basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication) with your SMART COSMOS credentials.

The authorization header is constructed as follows:

1. User name and  password are combined into a string "username:password"
2. The resulting string literal is then encoded using the RFC2045-MIME variant of Base64, except not limited to 76 char/line
3. The authorization method and a space i.e. "Basic " is then put before the encoded string.

For example, if the user agent uses 'Aladdin' as the user name and 'open sesame' as the password then the header is formed as follows:.

Authorization: Basic QWxhZGRpbjpTME1lUEAkJHcwcmQ=

### Wire Level Format
Requests and responses are always formatted using JavaScript Object Notation (JSON). 

The platform's model is organized around the three foundational entities (*`Objects`, `Relationships`, and `Interactions`*). These
foundational entities rely on supporting entities (*`Users`,`Devices`,`Files`, `Tags`, `Metadata`, and `Geospatial`*) to capture
additional context.

### URNs as Keys
All SMART COSMOS objects are keyed off of a **UUID**, represented using the standard string format for a UUID.

> For some API calls that require a `{referenceUrn}` parameter must provide a full canonical UUID reference,
e.g. *66b7d3e9-69e1-499e-a867-9c4a939c6f7d*,
but for most API calls requiring a '{referenceUrn}' you can insert an the Object URN (see below) of the object you're referring to.

### Object URN
The Object URN is arbitrarily defined by the developer as the `objectUrn` field for an Object record, and is limited to 767 characters.
**This must be a unique value.**

### Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.
In some cases the JSON result message contains a `code` field.

Code|Description
-------- | --------
1|Success
0|Failure
-1|Authenticated user is not authorized to make this call
-2|No such URN
-3|Unlicensed feature
-4|Unknown Entity Reference Type
-5|JSON is missing a required field: <...>
-6|No device found with identification <...>
-7|A <...> with matching key <...> already exists
-8|No matching record with <...> of <...> exists
-9|Unknown %s entity with urn <...>
-10|<...> enum does not define type <...>
-11|session with URN %s was previously closed
-12|No user associated with email address <...>
-13|File URN <...> exists but is flagged as pending content upload
-14|Endpoint requires authentication"
-50|Extensions are not permitted to perform <...>
-51|Caller lacked the authorization to complete the requested operation
-500|Internal Server Error

### Date Format
SMART COSMOS dates _when represented as a string_ are formatted using **RFC 3339**. All times must be in UTC, e.g.

__2013-07-04T09:00:00-00:00__

### Use of time format
SMART COSMOS timestamps are always represented in JSON with a `long` datatype, where the value must be interpretted as a 
[Java Timestamp](http://docs.oracle.com/javase/8/docs/api/java/sql/Timestamp.html) and defines the number of milliseconds since January 1, 1970, 00:00:00 GMT. e.g. 1390779082039

### Tracking Modification Timestamps
All SMART COSMOS objects maintain a `lastModifiedTimestamp` field to track when the record was last updated. The purpose of this
timestamp is to provide a valid eTag for HTTP cache support, and conform to the time format described above, e.g. 1390779082039

### Moniker: Arbitrary External System Alias
All SMART COSMOS objects support a `moniker` field that can be used as the developer sees fit. This field is **never**
interpreted by the platform, and it may be null if the developer chooses not to use it (null is the default value if the 
field is omitted in a **PUT** call).

> The SMART COSMOS authors promise developers that the platform itself will never rely on the moniker value for any feature,
now or in the future, leaving it entirely available for 3rd party developers to use as they see fit in their applications.

A popular usage of the `moniker` field is to provide a logical link between an SMART COSMOS object, say an RFID Object record,
and some type of proprietary (abstract) key in your back office account, e.g. ADDR-123-43-2013. This could be a link to a 
legacy key, or a JSON or XML stanza for more structure content.

**NOTE:** The `moniker` field is **limited to a maximum of 2048 characters** at this time. If you need more space than that, 
create a **File** and use the moniker to store the file's system-assigned URN.

### JSON Serialization Views
Every **GET** endpoint allows the developer to control the verbosity of the JSON response. Generally, this fact is encapsulated 
and of little concern to most developers. However, it is possible in rare situations to observe the same identical object, as 
indicated by its URN key, serialized with more (or fewer) fields. The serialization levels supported by the platform include:

   * **Published** - Publicly accessible fields (specific to the Extension Framework)

   * **Minimum** - All Published fields, plus highly pertinent fields

   * **Standard** - [**default**] All Minimum fields, plus additional contextual fields

   * **Full** - All Standard fields, plus fields rarely referenced


   * **Restricted** - Opaque fields accessible only to the SMART COSMOS Objects platform's cloud-side code and 
   *never transmitted over the wire* under any circumstance. These fields are *never updatable* by the developer. If a `view` 
query parameter is set to **Restricted**, it returns **Standard**.

#### Requesting a Specific Serialization View
Every **GET** endpoint is serialized using the **Standard* JSON view by default, but this parameter can be overridden by the developer by
including a `view` query string parameter set to the case-sensitive name of one of the serialization views.

The query string parameter `view` must be a case-sensitive value matching one of the following: {`Published`, `Minimum`, 
`Standard`, or `Full`}. Any value outside of this range automatically defaults to `Standard`.

**NOTE:** The default serialization view for any POST that returns a response is `Standard` and cannot be changed at this time.

## Getting started with SMART COMSMOS

### Full developed SDKs
 - Our [.Net SDK](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-sdk-.net) contains assemblies for all SMART COSMOS endpoints. You can download the .Net SDK from our public [SDK git repository](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-sdk-.net.git). Note that the the sample requires .Net Framework 4.0.
 - Our [Java SDK](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-sdk-java) contains classes as well as usability and support functions. Please check out also the related [JavaDoc](http://developer.smartcosmos.net/smartcosmos-sdk-java/stable/index.html).

### Generated SDKs
There are a couple of automated generated SDKs available:
 - [.Net portable](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-.net-portable-apimatic)
 - [PHP](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-php-apimatic)
 - [Java](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-java-apimatic)
 - [Java for Android](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-java-android-apimatic)
 - [Ruby](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-ruby-apimatic)
 - [JavaScript](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-javascript-apimatic)
 - [Python](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-python-apimatic)
 - [Objective-C](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-sdk-objectivec-apimatic)

Please contact us to get a test account!

## Support
The fastest way to obtain support is by emailing <api@smartrac-group.com>.

# Group Platform Availability Endpoints
Provides a interface to check if the availability of the platform

## Ping [/admin/ping]
### Check platform availability [GET]

Resource for checking the platform availability. 

### HTTP result codes
This endpoint will respond with an appropriate HTTP status code to indicate the actual result

- **200 AVAILABLE** platform is available
- **400 BAD_REQUEST** problem occurred, check message parameter for detailed information
- **503 SERVICE_UNAVAILABLE** service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

+ Response 200 (text/plain)

        pong

+ Response 400 (application/json)

        {
            "code" : 1,
            "message" : "..."
        }

+ Response 503

## Lookup Module Version [/rest/admin/version]
### Lookup Module Version [GET]

*DRAFT VERSION* 

- Do not use in production!

Check the version of all available modules and extensions of the current instance.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Body
    
            {
                "modules": [
                    {
                        "name": "SMART COSMOS Objects Developer Edition",
                        "version": "2.9"
                    },
                    {
                        "name": "Admin Bundle",
                        "version": "1.0"
                    },
                    {
                        "name": "xyz Bundle",
                        "version": "1.2"
                    }
                ]
            }

+ Response 401

# Group Registration Endpoints
Every SMART COSMOS Account belongs to a _security realm_. By default, the registration endpoint will extract the domain name
from your email address. However, if you are using a popular email service like GMail or Yahoo, you **must** provide a custom 
realm name at registation. Use the **Realm Availability** endpoint to see if your desired realm name is available.   

Once you've identified a realm name, you're ready to complete registration. Registering for an SMART COSMOS Account and then
confirming the email address associated with the Account registration are the only prerequisites for using the platform. These
two steps are required before any endpoints that require authentication can be successfully accessed.

Account registration guides:
[Account Registration with .NET SDK](https://smartractechnology.atlassian.net/wiki/display/SCKB/Account+Registration+with+.NET+SDK)
[Account Registration with cURL](https://smartractechnology.atlassian.net/wiki/display/SCKB/Account+Registration+with+cURL)

## Understanding Realms
The SMART COSMOS Objects platform is a multi-tenant system by design. Each Account operates within its own _security realm_ in order 
to keep one Account's data separate from another Account's data. By default, the security realm is established _based on the 
Account registration email address' top level domain_. For example, registering for an Account with the email address 
developer@example.com would result in the automatic assignment of the _example.com_ realm, if it is available. It is
possible to override this default behavior by including a _realm_ attribute in the JSON document submitted to the registration 
endpoint.

> If you are an Individual or a Developer registering with a popular email address from say yahoo.com, gmail.com, etc. then 
it is strongly recommended that you register using a unique, custom realm. This approach will allow the use of a individual 
email, e.g. you@yahoo.com, even though a realm like yahoo.com is prohibited. If you are an Enterprise, it is strongly 
recommended you omit the realm, which will automatically register your email address domain as your realm.

## Realm Availability [/rest/registration/realm/{realm}]
### Check realm availability [GET]

Check to see if the named realm is available for registration.

+ Parameters
    + realm (required, string, `foo.com`) ... Check to see if the named realm is available for registration

+ Response 200 (application/json)

            {
                "code": 1,
                "message" : "foo.com"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "Invalid realm"
            }

## Account Registration [/rest/registration/register]
### Register for a new SMART COSMOS account [POST]

+ Request (application/json)

            {
                "emailAddress": "you@foo.com",
                "realm" : "foobar.com"
            }

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RegistrationRequest, AccountDefined
            
    + Body
    
            {
                "urn" : "64618d0b-3b8c-456a-87d0-31bc1a0bc579",
                "lastModifiedTimestamp" : 1382828220349,
                "emailAddress" : "you@foo.com",
                "realm" : "foo.com"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "JSON is missing a required field: emailAddress"
            }


## Account Confirmation [/rest/registration/confirm/{emailVerificationToken}/{emailAddress}]
### Confirm the new SMART COSMOS account [GET]

This endpoint is only available if your server's objects.yml configuration 
- has set supportDynamicRegistration to true
- has set includeEmailVerificationTokenInRegistrationJSON to true

+ Parameters
    + emailVerificationToken: `WOCLGXNEXMRZ` (required, string) - System-created confirmation token
    + emailAddress: `demouser@example.com` (required, string) - email address of the user

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code" : 1
                "message" : "11e535bf-2094-180a-b0ef-6b5a3c460e74"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with email address of demouser@example.com exists"
            }

# Group Account Management Endpoints

An _Account_ record is created automatically at the time of _registration confirmation_ (not at the time of registration), 
along with your administrator User record. The Account record holds your account _name_, and _description_.

## Account Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
name | String  | true | true | Minimum | 
description | String  | false | true | Standard | 
activeFlag | Boolean  | true | false | Standard  | 

## Password Self-Service
The platform offers two endpoints for password self-service, supporting both password change and password reset.

## Account Details [/rest/account{?view}]
### Lookup my account details [GET]

+ Parameters
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
       + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : AccountAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
                "urn" : "a99feae7-8b9d-4a78-b2b9-655ad2b99c84",
                "lastModifiedTimestamp" : 1436796901917,
                "name" : "Foo",
                "description" : "Bar",
                "activeFlag" : true
            }

+ Response 401

## Change Your Password [/rest/account/password/change]
### Change password for authenticated user [POST]

Change the authenticated user's password, presuming they know their existing password to change to a new password.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
    + Body
    
            {
                "oldPassword" : "0lDs3cr3t!",
                "newPassword" : "N3ws3cr3t?"
            }

+ Response 200 (application/json)

    + Headers
    
            SmartCosmos-Event : UserPasswordChanged
            
    + Body
    
            {
                "code" : 1,
                "message": "Password successfully changed"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "Password change failed"
            }

+ Response 401

## Reset Lost Password [/rest/account/password/reset]
### Reset lost password for specified account [POST]

Trigger a password reset workflow via email for the specified account associated with the indicated email address.

+ Request (text/plain)
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body  
     
            "emailAddress" : "you@foo.com"

+ Response 200 (application/json)

    + Headers
    
            SmartCosmos-Event : UserPasswordReset
            
    + Body   
    
            {
                "code" : 1,
                "message": "Password reset email has been sent"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "Invalid email address"
            }

+ Response 401

# Group User Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_User-Label.png "User Endpoint")

## User Endpoint Security
SMART COSMOS only permits users with a `roleType` of **Administrator** to set or reset other user account passwords.

## Overview
The initial registration account is automatically defined with a `roleType` of **Administrator**. Additional users can be
created using any valid email address.

### SMART COSMOS is not a directory service
The only metadata collected about a user includes first name, last name, email address, and role type. The use of the email
address is expected to provide a suitable means of identification of an actual user within the account.

The platform's default directory service plugin relies on the [Stormpath](http://stormpath.com "Stormpath Web Site")
authentication and authorization PaaS as its default directory service provider. **This means that SMART COSMOS doesn't manage
any user credentials, delegating all of this responsibility to Stormpath.**

Direct access to an account's Stormpath data is prohibited. For example, password self-service is only accessible via the
SMART COSMOS Account Management self-service endpoints.

**It is impossible to retrieve credentials through the API since it is neither stored nor managed by SMART COSMOS**.

## User Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long | true | false | Standard | Generated
moniker | String  | false | true | Full | null
emailAddress | String  | true | false | Minimum |
givenName | String | false | true | Full | null
surname | String | false | true | Full | null
roleType | RoleType  | true  | true | Minimum | User

### Field Notes
- The `roleType` field is used as a security filter that may restrict the user from certain sensitive operations
*in future API versions*. The only supported values at this time are *Administrator* and *User*.

## User Management [/rest/users]
### Create a new user [PUT]

Create a new user associated with the specified email address. The following user fields may be used to create a new record:

- `emailAddress` is required and constrained to 128 characters
- `roleType` is required and constrained to the case-sensitive values of **Administrator** or **User**
- `givenName` is optional and constrained to 50 characters and defaults to **null**
- `surname` is optional and constrained to 50 characters; it defaults to **null**
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

#### Idempotent Behavior
This endpoint is idempotent and will respond with an appropriate HTTP status code to indicate the actual result

- **201 SUCCESS_CREATED** if the record is new
- **409 CONFLICT** if a User with the given `emailAddress` already existed in the database

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "emailAddress": "coworker@foo.com",
                "roleType": "User",
                "givenName" : "John",
                "surname" : "Doe",
                "moniker" : "xyz:123"
            }

+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : UserDefined

    + Body

            {
                "code" : 1,
                "message" : "r@nd0mP@ssword!"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "JSON is missing a required field: emailAddress"
            }

+ Response 401

+ Response 409 (application/json)

    + Headers

            SmartCosmos-Event : UserAccessed

    + Body

            {
                "code" : 1,
                "message" : "372cf45b-6557-479c-96aa-ee92f29c9cca"
            }



### Update an existing user [POST]

The request body must include a valid `emailAddress` field. Only those fields being updated need to
be included in the JSON body. For example, if you only want to update the `surname` of the user, only
include that field in the request body.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "emailAddress": "coworker@foo.com",
                "givenName": "Homeslice",
                "surname": "Simpson",
                "moniker" : "xyz:123"                
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "JSON is missing a required field: identification"
            }

+ Response 401

## Look Up Specific User By URN [/rest/users/{urn}{?view}]
### Look up a specific user by its system URN [GET]

Look up a specific user by its system-assigned URN key

+ Parameters
    + urn: `66b7d3e9-69e1-499e-a867-9c4a939c6f7d` (required, UUID) - System-assigned UUID assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : UserAccessed
            SmartCosmos-View : Standard

    + Body

            {
                "urn": "66b7d3e9-69e1-499e-a867-9c4a939c6f7d",
                "lastModifiedTimestamp" : 1390607277299,
                "emailAddress" : "coworker@foo.com",
                "roleType" : "User"
            }


+ Response 204


## Look Up Specific User By Email Address [/rest/users/user/{emailAddress}{?view}]
### Look up specific user by email address [GET]

+ Parameters
    + emailAddress: `coworker@foo.com` (required, string) - Exact case-sensitive email address to locate
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
       + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : UserAccessed
            SmartCosmos-View : Standard

    + Body

            {
                "urn": "66b7d3e9-69e1-499e-a867-9c4a939c6f7d",
                "lastModifiedTimestamp" : 1390607277299,
                "emailAddress" : "coworker@foo.com",
                "roleType" : "User"
            }

## Change or Reset User Password [/rest/users/user]
### Initiate a password reset workflow [POST]

Initiate a reset password workflow or specifically define the user's password. The request body must include a valid `emailAddress` field. If the body only includes an `emailAddress` then
the password reset workflow will be initiated. However, if the body also includes a `newPassword` field, then
the user's password will be changed to that password.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "emailAddress": "coworker@foo.com",
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "JSON is missing a required field: emailAddress"
            }

# Group Device Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Device-Label.png "Device Endpoint")

## Overview
SMART COSMOS may be used to capture metadata about devices in order to make the association that _this user used this device_.
The `identification` field is the most important field in this data type, as it represents the unique identifier of the device. 
On a laptop, this could be the computer's network MAC address, or serial number printed on an asset tag affixed to the computer, 
or on a cell phone it could be the manufacturer's IMEI string or perhaps the phone number.

> SMART COSMOS makes no inferences from the device identification. Theoretically, an account with 100 devices could simply
sequence the identification of each device, i.e. 1, 2, 3, etc.

## Device Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
name | String  | true | true | Minimum | 
description | String  | false | true | Standard | 
activeFlag | Boolean  | true | true | Standard  | true
identification | String | true | false | Minimum |
type | String | true | true | Minimum |  

### Field Notes
- The `identification` key MUST be a unique value within your Account's Device set. Multiple devices with
identical values is explicitly prohibited.
- The `type` field is available to create an ontology or high level categories that can be used to group related devices. 
The platform makes no inferences about this case-sensitive field.

## Device Definitions [/rest/devices]
### Create a new device [PUT]

Create a new device associated with an arbitrary identification value. The following device attributes are used to create a new record:

- `identification` is required and constrained to 255 characters. It is arbitrarily defined by the developer, but a 
consistent approach should be utilized. For example, the device's phone number or IMEI could be used consistently to 
identify a smartphone
- `name` is required and constrained to 255 characters
- `type` is required and constrained to 255 characters. It is arbitrarily defined by the developer; the platform never 
interprets the value stored in this field. It could
be general, like *laptop*, or it could be very specific like *MacBook Pro 15" Laptop*  
- `description` is optional and constrained to 1024 characters and may be omitted; defaults to **null**
- `activeFlag` is optional and may be omitted; defaults to **true**
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

#### Idempotent Behavior
This endpoint is idempotent and will respond with an appropriate HTTP status code to indicate the actual result 

- **201 SUCCESS_CREATED** if the record is new
- **200 SUCCESS_OK** if a Device with the given `identification` already existed in the database, in which case 
**no data is merged; existing record is left as-is**

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "identification": "gqorighfawpftjqevznxclmndaawetha",
                "name": "Jason's Phone",
                "type": "Android",
                "activeFlag" : true,
                "description" : "My device"
            }
            
+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : DeviceDefined
            
    + Body
    
            {
                "code" : 1,
                "message" : "c0f8c918-05b7-4d30-8cac-afd8504ee24a"
            }
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : DeviceAccessed
            
    + Body
    
            {
                "code" : 1,
                "message" : "c0f8c918-05b7-4d30-8cac-afd8504ee24a"
            }

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: identification"
            }
            

### Update an existing device [POST]

The request body must include a value in either an `identification` or the `urn` field. Only those fields being updated need to 
be included in the JSON body. For example, if you only want to update the `name` of the device, only include that field in the 
request body.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "identification": "gqorighfawpftjqevznxclmndaawetha",
                "name": "Jason's New Phone"
            }
            
+ Response 204

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: identification"
            }
            
## Look Up Specific Device By URN [/rest/devices/{urn}{?view}]
### Look up specific device by system URN [GET]

Look up a specific device by its system-assigned URN key.

+ Parameters
    + urn: `c0f8c918-05b7-4d30-8cac-afd8504ee24a (required, UUID) - System-assigned UUID assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : DeviceAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
                "urn": "c0f8c918-05b7-4d30-8cac-afd8504ee24a",
                "lastModifiedTimestamp" : 1390607277299,
                "identification" : "gqorighfawpftjqevznxclmndaawetha",
                "name" : "Jason's Phone",
                "description" : null,
                "type" : "Android",
                "activeFlag" : true
            }

+ Response 204 
 
## Look Up Specific Device By Identification [/rest/devices/device/{identification}{?view}]
### Look up specific device by identification [GET]

Lookup a specific device by its system-assigned URN key.

+ Parameters
    + identification: `gqorighfawpftjqevznxclmndaawetha` (required, string) - Exact case-sensitive identification value to 
    locate
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : DeviceAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
                "urn": "c0f8c918-05b7-4d30-8cac-afd8504ee24a",
                "lastModifiedTimestamp" : 1390607277299,
                "identification" : "gqorighfawpftjqevznxclmndaawetha",
                "name" : "Jason's Phone",
                "description" : null,
                "type" : "Android",
                "activeFlag" : true
            }


## Look Up Devices With Name Pattern [/rest/devices{?nameLike,view}]
### Look up an array of matching devices [GET]

Call always returns a JSON array, which may be an empty array if no devices are found that match the `nameLike` query parameter.

+ Parameters
    + nameLike: `Jaso` (optional, string) - A case-sensitive *starts with* string pattern to match against. If omitted, then all records will be returned.
         + Default: `%`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : DeviceAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            [
                {
                    "urn": "c0f8c918-05b7-4d30-8cac-afd8504ee24a",
                    "lastModifiedTimestamp" : 1390607277299,
                    "identification" : "gqorighfawpftjqevznxclmndaawetha",
                    "name" : "Jason's Phone",
                    "description" : null,
                    "type" : "Android",
                    "activeFlag" : true
                }
            ]

# Group Object Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Object-Label.png "Object Endpoint")

## Overview
The platform supports arbitrarily defined object types. This means that the platform makes no assumptions about the composition of an 
object identifier, and the platform _never_ attempts to infer any logic from either the Object's `objectUrn` (developer assigned URN) or 
its arbitarily defined `type` field. To illustrate this concept, an Object could represent a Person, a Bank Account, a vehicle, an animal, 
or even a place (optionally complimented by a geospatial definition to precisely define the place).

## Object Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
name | String  | true | true | Minimum | 
description | String  | false | true | Standard | null 
activeFlag | Boolean  | true | true | Standard  | true
objectUrn | String | true | false | Minimum | 
type | String | true | true | Minimum |  

### Field Notes
- The `objectUrn` field is considered the authoritative URN when dealing with objects, although a system-assigned `urn` is still generated. 
The `objectUrn` field must be unique across object records in your account.
- The `type` field is available to create an ontology or high level categories that can be used to group related objects. 
The platform makes no inferences about this case-sensitive field.


## Object Management [/rest/objects]
### Create a new object [PUT]

The following object fields may be used to create a new record:

- `objectUrn` is required and constrained to 767 characters 
- `type` is required and constrained to 255 characters
- `name` is required and constrained to 255 characters
- `description` is optional and constrained to 1024 characters and may be omitted; defaults to **null**
- `activeFlag` is optional and may be omitted; defaults to **true**
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**
- `returnValueType` is optional. If it is set to "urn" the response message will contain the system URN in the message field.
If set to anything else or unset the message field will contain the objectUrn. 

#### Idempotent Behavior
This endpoint is idempotent and will respond with an appropriate HTTP status code to indicate the actual result 

- **201 SUCCESS_CREATED** if the record is new
- **200 SUCCESS_OK** if an Object with the given `objectUrn` already existed in the database, in which 
case **no data is merged; existing record is left as-is**

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "objectUrn": "urn:building:mall:ParadiseValley",
                "type": "Building",
                "name": "Paradise Valley Merchant's Mall",
                "description": "test",
                "activeFlag": true,
                "moniker": "xyz:123"
            }
       
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : UserAccessed
            
    + Body
    
            {
                "code" : 1,
                "message" : "urn:building:mall:ParadiseValley"
            }
            
+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : ObjectDefined
            
    + Body
    
            {
                "code" : 1,
                "message" : "urn:building:mall:ParadiseValley"
            }

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: objectUrn"
            }

+ Response 401

### Update an existing object [POST]

The request body must include a valid `objectUrn` field or a valid `urn` field. Only those fields being updated need to
be included in the JSON body. For example, if you only want to update the `name` of the object, only 
include that field in the request body.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "objectUrn": "urn:building:mall:ParadiseValley",
                "name": "Paradise Valley Mercantile Mall",
                "description": "test",
                "activeFlag": true,
                "moniker": "xyz:123"                
            }
            
+ Response 204

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: objectUrn"
            }   
            
+ Response 401            

## Look Up Specific Object By URN [/rest/objects/{urn}{?view}]
### Look up specific object by system URN [GET]

Look up a specific object by its system-assigned URN key.

+ Parameters
    + urn: `447744cc-ab7b-4144-9305-40b1928482ef` (required, UUID) - System-assigned URN assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
                "urn": "447744cc-ab7b-4144-9305-40b1928482ef",
                "objectUrn": "urn:building:mall:ParadiseValley",
                "type": "Building",
                "name": "Paradise Valley Merchant's Mall",
                "description" : null,
                "activeFlag" : true,
                "lastModifiedTimestamp" : 1390607277299
            }

+ Response 204 

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:66b7d3e9-69e1-499e-a867-9c4a939c6f7d exists"
            }
            
+ Response 401
 
## Look Up Object By Object URN [/rest/objects/object/{objectUrn}{?view,exact}]
### Look up specific object by object URN [GET]

Look up a specific object by their arbitrary developer assigned object URN key.

+ Parameters
    + objectUrn: `urn:building:mall:ParadiseValley` (required, string) - Case-sensitive object URN to locate
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`
    + exact: `true` (optional, boolean) - Defaults to true; when false, a starts-with search is performed 
        + Default: `true`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
                "urn": "447744cc-ab7b-4144-9305-40b1928482ef",
                "objectUrn": "urn:building:mall:ParadiseValley",
                "type": "Building",
                "name": "Paradise Valley Merchant's Mall",
                "description" : null,
                "activeFlag" : true,
                "lastModifiedTimestamp" : 1390607277299
            }
            
+ Response 204 
            
## Query Objects [/rest/objects{?view,modifiedAfter,monikerLike,nameLike,objectUrnLike,type}]
### Lookup an array of matching objects [GET]

#### Additive Nature
Each query string parameter is **AND**ed with other parameters. It is not possible to define a parenthetical or mixed Boolean logic
query at this time.

+ Parameters
    + objectUrnLike: `urn:building:mall` (optional, string) - Case-sensitive `objectUrn` *starts with* pattern to locate
        + Default: `*`
    + type: `Building` (optional, string) - Case-sensitive `type` *starts with* pattern to locate
        + Default: empty
    + nameLike: `Paradise` (optional, string) - Case-sensitive `name` *starts with* pattern to locate
        + Default: `*`
    + monikerLike: `urn:uuid:123` (optional, string) - Case-sensitive `moniker` *starts with* pattern to locate
        + Default: `*`
    + modifiedAfter: `1390607270000` (optional, long) - Locate `lastModifiedTimestamp` values equal to or greater than this
        + Default: `0`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            [
                {
                    "urn": "447744cc-ab7b-4144-9305-40b1928482ef",
                    "objectUrn": "urn:building:mall:ParadiseValley",
                    "type": "Building",
                    "name": "Paradise Valley Merchant's Mall",
                    "description" : null,
                    "activeFlag" : true
                    "lastModifiedTimestamp" : 1390607277299
                }
            ]
            
            
# Group Object Address Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Object_Address-Label.png "Object Address Endpoint")

## Overview
Every SMART COSMOS `Object` may optionally be linked to a physical address. Addresses are usually broadly defined with the `type` field,
e.g. _physical_ or _last known_. The difference between object address `type` values is arbitrarily defined by the developer.

**NOTE:** There is no limit on how many different address types an object could be associated with. For example, using the `type` field 
one could define a _physical_ and a _mailing_ record set. Likewise, with the `timestamp` field one could insert multiple addresses, 
capturing a series of addresses visited or even a _last known address_ concept.

The Object Address entry differs from a geospatial entry in that addresses rely on political descriptors, e.g. a city names, instead of a
latitude and longitude on a map projection. The record types are considered complimentary.  

Incomplete or partial addresses are fully supported by the platform. Only an `objectUrn` and a `type` are required to create an address record.  

## Object Address Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
object | IObject | true | false | Standard |
type | String | true | true | Minimum |  
line1 | String | false | true | Minimum | null
line2 | String | false | true | Minumum | null
city | String | false | true | Minimum | null
stateProvince | String | false | true | Minimum | null
countryAbbreviation | String | false | true | Minimum | null
timestamp | long | false | true | Standard | 0

### Field Notes
- The `type` field is available to create an ontology or high level categories that can be used to group related addresses. 
The platform makes no inferences about this case-sensitive field.

## Object Address Management [/rest/objects/object/{objectUrn}/address]
### Create a new object address [PUT]

The following object fields may be used to create a new record:

- `objectUrn` is required and constrained to 767 characters 
- `type` is required and constrained to 255 characters
- `timestamp` is optional and its context is arbitrarily defined by the developer
- `line1` and `line2` are optional and constrained to 1024 characters
- `city` is optional and constrained to 1024 characters
- `stateProvince` is optional and constrained to 50 characters
- `postalCode` is optional and constrained to 20 characters
- `countryAbbreviation` is optional and constrained to 2 characters. Developers MUST use [ISO 3166-1](http://www.iso.org/iso/country_codes "ISO 3166"), 
the internationally recognized standard for country codes.

+ Parameters
    + objectUrn (required, string, `urn:building:mall:ParadiseValley`) ... Case-sensitive object URN to assign the address to

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "type": "Mailing Address",
                "line1": "123 Street",
                "line2": "xyz",
                "stateProvince" : "CA",
                "countryAbbreviation" : "US",
                "city": "Boston",
                "postalCode": "12345"
            }
            
+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAddressDefined
            
    + Body
    
            {
                "code" : 1,
                "message" : "0c7b4d26-1843-44eb-a134-3fbcbbf0578d"
            }
            
+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: type"
            }

## Object Address Management [/rest/objects/object/{objectUrn}/address/{urn}]
### Update an existing object address [POST]

The request body only needs to include those fields being updated. For example, if you only want to update 
the `stateProvince` of the object, only include that field in the request body.

+ Parameters
    + objectUrn (required, string, `urn:building:mall:ParadiseValley`) ... Case-sensitive object URN that owns the address to update
    + urn (required, string, `66b7d3e9-69e1-499e-a867-9c4a939c6f7d`) ... System-assigned URN assigned at creation

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "type": "Mailing Address",
                "line1": "123 Street",
                "line2": "xyz",
                "stateProvince" : "TX",
                "countryAbbreviation" : "US",
                "city": "my city",
                "postalCode": "12345"
            }
            
+ Response 204

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -2,
                "message" : "No such URN"
            }   

### Delete a specific object address by URN [DELETE]

Delete a specific object address by its system-assigned URN key.

+ Parameters
    + objectUrn: `urn:building:mall:ParadiseValley` (required, string) - Case-sensitive object URN that owns the address to update
    + urn: `66b7d3e9-69e1-499e-a867-9c4a939c6f7d` (required, string) - System-assigned URN assigned at creation

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 204

+ Response 400 (application/json)

    + Body
    
            {
                "code" : -2,
                "message" : "No such URN"
            }

                    
## Look Up Specific Object Address By URN [/rest/objects/object/{objectUrn}/address/{urn}{?view}]
### Look up a specific object address by URN [GET]

Look up a specific object address by its system-assigned URN key.

+ Parameters
    + objectUrn: `urn:building:mall:ParadiseValley` (required, string) - Case-sensitive object URN that owns the address to update
    + urn: `66b7d3e9-69e1-499e-a867-9c4a939c6f7d` (required, string) - System-assigned URN assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAddressAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
               "city": null,
               "countryAbbreviation": "US",
               "lastModifiedTimestamp": 1390787660961,
               "line1": "123 Street",
               "line2": null,
               "object": {
                  "activeFlag": true,
                  "description": null,
                  "lastModifiedTimestamp": 1390787660901,
                  "name": "foo",
                  "objectUrn": "urn:instagram:FooBar:8fbc1d55-0c3f-461a-ba60-29d7631147fc",
                  "type": "Person",
                  "urn": "74e9e97a-1f6b-4d38-a12e-a61c42c7c126"
               },
               "postalCode": null,
               "stateProvince": "CA",
               "timestamp": 1390787660961,
               "type": "Mailing",
               "urn": "0c7b4d26-1843-44eb-a134-3fbcbbf0578d"
            }

+ Response 204 
             
## Look Up Matching Object Addresses By URN [/rest/objects/object/{objectUrn}/address{?view,count}]
### Look up matching object addresses [GET]

+ Parameters
    + objectUrn: `urn:building:mall:ParadiseValley` (required, string) - Case-sensitive object URN that owns the address to update
    + count: `1` (optional, integer) - Maximum number of address records to return; defaults to 1
        + Default: `1`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectAddressAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            [
                {
                   "city": null,
                   "countryAbbreviation": "US",
                   "lastModifiedTimestamp": 1390787660961,
                   "line1": "123 Street",
                   "line2": null,
                   "object": {
                      "activeFlag": true,
                      "description": null,
                      "lastModifiedTimestamp": 1390787660901,
                      "name": "foo",
                      "objectUrn": "urn:instagram:FooBar:8fbc1d55-0c3f-461a-ba60-29d7631147fc",
                      "type": "Person",
                      "urn": "74e9e97a-1f6b-4d38-a12e-a61c42c7c126"
                   },
                   "postalCode": null,
                   "stateProvince": "CA",
                   "timestamp": 1390787660961,
                   "type": "Mailing",
                   "urn": "0c7b4d26-1843-44eb-a134-3fbcbbf0578d"
                }
            ]

+ Response 204 



# Group Object Interaction Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Interaction-Label.png "Object Interaction Endpoint")

## Overview
The Object Interaction is the major metaphor that the entire platform is effectively designed around. An Object Interaction 
captures context; _this_ Object did _something_ with _that_ object at _this_ time. The interaction is typically decorated with 
additional characteristics, including metadata, tags, geospatial references, etc. 

The primary difference between a _Reference_ and an _Interaction_ is cardinality. Either you are a customer with that bank,
or you aren't a customer- but if you are a customer then each deposit or withdrawl would be a separate interaction. Where
a Reference is treated as a binary relationship (yes or no, true or false), an Interaction is treated as a 0, 1, or many
relationship.

> Every Object Interaction is read-only once submitted! Field values cannot be updated; records cannot be deleted once 
the interaction is persisted by design.

Object Interactions are inherently _bi-temporal_ in nature. There is the time of interaction as captured on a device, perhaps a 
smartphone or laptop, and there is the time of receipt as captured by the platform in the cloud. These two times could have a 
difference of minutes, hours, or perhaps days in those instances where the device lacked an active Internet connection.

## Object Interaction Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
entityReferenceType | EntityReferenceType | true | false | Minimum |
referenceUrn | UUID | true | false | Minimum |
object | IObject | true | false | Minimum |
recordedTimestamp | long | true | false | Standard |
receivedTimestamp | long | true | false | Full | Generated
hasSessionMembership | Boolean | true | false | Minimum | Generated
objectInteractionSession | IObjectInteractionSession | false | false | Standard | null

### Field Notes
- The `entityReferenceType` and `referenceUrn` fields jointly represent the *owner* or *initiator* of the interaction
- The `recordedTimestamp` field is developer-assigned and identifies the *actual* time of the interaction
- The `receivedTimestamp` field is system-assigned when the **PUT** call is made.
- The `type` field is available to create an ontology or high level categories that can be used to group related interactions. 
The platform makes no inferences about this case-sensitive field.
- The `object` must be defined using the developer-assigned `objectUrn` when issuing a **PUT** call to capture the interaction.


## Interaction Management [/rest/interactions]
### Capture a specific interaction [PUT]

The following interaction fields may be used to create a new record:

- `objectUrn` must point to a pre-existing record with either an object URN or a system UUID (element 1)
- `entityReferenceType` is required and constrained to a valid EntityReferenceType value defined in 
[data types](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/blob/master/DATA_TYPES.md "Data Types")
- `referenceUrn` must point to a pre-existing record of the given `entityReferenceType` with either an objectUrn or a system UUID (element 2)
- `type` is required and constrained to 255 characters
- `recordedTimestamp` is required an must a valid long since the java epoch
- `objectInteractionSession` is optional and may be omitted; defaults to null. Set value to the system-assigned URN on **PUT** call
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "objectUrn" : "urn:instagram:FooBar:ec3819a1-bc9b-4550-afda-4bd8cbb1dd16",
                "entityReferenceType" : "Object",
                "referenceUrn" : "urn:instagram:FooQux:47c23bc6-2a58-4e37-93b0-848776b42404",
                "recordedTimestamp" : 1390779082039,
                "type" : "Transaction",
            }
            
+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : ObjectInteraction

    + Body
    
            {
                "code" : 1,
                "message" : "95b995e2-dde5-4dd0-b50c-e804999411d8"
            }
            
+ Response 400 (application/json)

    + Body
    
            {
                "code" : -5,
                "message" : "JSON is missing a required field: type"
            }

+ Response 401

## Look Up Matching Interactions [/rest/interactions{?view,objectUrn}]
### Look up an array of matching interactions [GET]

If no `objectUrn` query parameter is included, then all interactions are returned.

+ Parameters
    + objectUrn: `urn:instagram:FooBar:ec3819a1-bc9b-4550-afda-4bd8cbb1dd16` (optional, string) - Developer-assigned `objectUrn` to search for
        + Default: empty, all interactions are returned
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectInteractionAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            [
                {
                   "entityReferenceType": "Object",
                   "hasSessionMembership": false,
                   "lastModifiedTimestamp": 1390779082063,
                   "object": {
                      "activeFlag": true,
                      "description": null,
                      "lastModifiedTimestamp": 1390779081986,
                      "name": "foo",
                      "objectUrn": "urn:instagram:FooBar:ec3819a1-bc9b-4550-afda-4bd8cbb1dd16",
                      "type": "Transaction",
                      "urn": "ac912b9e-fa52-48e4-a477-aa99f0a2bf92"
                   },
                   "objectInteractionSession": null,
                   "recordedTimestamp": 1390779082039,
                   "referenceUrn": "urn:instagram:FooQux:47c23bc6-2a58-4e37-93b0-848776b42404",
                   "urn": "u95b995e2-dde5-4dd0-b50c-e804999411d8"
                }
            ]
            
+ Response 204 

+ Response 401

## Lookup Specific Object Interaction by URN [/rest/interactions/{urn}{?view}]
### Lookup specific interaction by URN [GET]

Lookup a specific interaction by its system-assigned URN key.

+ Parameters
    + urn: `66b7d3e9-69e1-499e-a867-9c4a939c6f7d` (required, UUID) - System-assigned URN assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request
    
    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectInteractionAccessed
            SmartCosmos-View : Standard
            
    + Body
    
            {
               "entityReferenceType": "Object",
               "hasSessionMembership": false,
               "lastModifiedTimestamp": 1390779082063,
               "object": {
                  "activeFlag": true,
                  "description": null,
                  "lastModifiedTimestamp": 1390779081986,
                  "name": "foo",
                  "objectUrn": "urn:instagram:FooBar:ec3819a1-bc9b-4550-afda-4bd8cbb1dd16",
                  "type": "Transaction",
                  "urn": "ac912b9e-fa52-48e4-a477-aa99f0a2bf92"
               },
               "objectInteractionSession": null,
               "recordedTimestamp": 1390779082039,
               "referenceUrn": "urn:instagram:FooQux:47c23bc6-2a58-4e37-93b0-848776b42404",
               "urn": "95b995e2-dde5-4dd0-b50c-e804999411d8"
            }
            
+ Response 204 

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:66b7d3e9-69e1-499e-a867-9c4a939c6f7d exists"
            }

+ Response 401

# Group Object Interaction Session Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Interaction_Session-Label.png "Object Interaction Session Endpoint")

## Overview
The Object Interaction Session is used to logically batch together a collection of Object Interaction records. An Object Interaction
Session is, literally, just a logical grouping construct with a `startTimestamp`, `stopTimestamp`, and arbitrary `type` field to
further describe the type of batch operation. This logical grouping construct conveys that an entire set of Object Interactions occurred
within the context of a *single unit of work*; somehow, all of these Object Interactions are related. What that relationship is should be
arbitrarily defined by the developer using the `type` field.
The contents of the `type` field are never evaluated by the platform; it is an external concept. One example use case might be built
around the concept of reading numerous UHF RFID tags with a specialized RFID scanner.

## Object Interaction Session Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
name | String  | true | true | Minimum |
description | String  | false | true | Standard | null
activeFlag | Boolean  | true | true | Standard  | true
startTimestamp | long | true | false | Minimum | Generated
stopTimestamp | long | false | true | Minimum | Generated
type | String | true | true | Minimum |

### Field Notes
- The `startTimestamp` field is system-assigned when the **PUT** call is made.
- The `stopTimestamp` field is system-assigned when the **POST** call is made.
- The `activeFlag` field is system-assigned to `false` when the **POST** call is made.
- The `type` field is available to create an ontology or high level categories that can be used to group related objects.
The platform makes no inferences about this case-sensitive field.

## Session Management [/rest/sessions]
### Start a new object interaction session [PUT]

The following fields may be used to create a new record:

- `type` is required and constrained to 255 characters
- `name` is required and constrained to 255 characters
- `description` is optional and constrained to 1024 characters and may be omitted; defaults to **null**
- `activeFlag` is optional and may be omitted; defaults to **true**
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "name": "Daily Tag Scan",
                "type": "RFID Scan",
                "description": "RFID action"
            }

+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : InteractionSessionStart
            SmartCosmos-Session-Start : 2013-04-17T09:12:36-00:00

    + Body

            {
                "code" : 1,
                "message" : "66b7d3e9-69e1-499e-a867-9c4a939c6f7d"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -5,
                "message" : "JSON is missing a required field: type"
            }

+ Response 401

### Stop object interaction session [POST]

Stop an existing object interaction session. The request body must include a valid `sessionUrn` field.

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "urn": "66b7d3e9-69e1-499e-a867-9c4a939c6f7d"
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -11,
                "message" : "session was previously closed"
            }

+ Response 401

## Look Up Specific Object Interaction Session By URN [/rest/sessions/{urn}{?view}]
### Look up specific session by system URN [GET]

Lookup a specific session by its system-assigned URN key.

+ Parameters
    + urn: `66b7d3e9-69e1-499e-a867-9c4a939c6f7d` (required, UUID) - System-assigned URN assigned at creation
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectInteractionSessionAccessed
            SmartCosmos-View : Standard

    + Body

            {
                "urn": "66b7d3e9-69e1-499e-a867-9c4a939c6f7d",
                "lastModifiedTimestamp" : 1390607277299,
                "name": "Daily Tag Scan",
                "type": "RFID Scan",
                "description" : null,
                "activeFlag" : true,
                "startTimestamp" : 1390607277299,
                "stopTimestamp" : 0
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:66b7d3e9-69e1-499e-a867-9c4a939c6f7d exists"
            }

+ Response 401

## Look Up Object Interaction Sessions By Name [/rest/sessions{?view,nameLike}]
### Look up an array of matching sessions [GET]

+ Parameters
    + nameLike: `RFID` (optional, string) - A case-sensitive *starts with* string pattern to match against. If omitted, then all records will be returned.
        + Default: `%`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : ObjectInteractionSessionAccessed
            SmartCosmos-View : Standard

    + Body

            [
                {
                    "urn": "66b7d3e9-69e1-499e-a867-9c4a939c6f7d",
                    "lastModifiedTimestamp" : 1390607277299,
                    "name": "Daily Tag Scan",
                    "type": "RFID Scan",
                    "description" : null,
                    "activeFlag" : true,
                    "startTimestamp" : 1390607277299,
                    "stopTimestamp" : 0
                }
            ]

+ Response 204

+ Response 401
# Group Relationship Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Relationship-Label.png "Relationship Endpoint")

## Overview
SMART COSMOS provides a simple, flexible, and incredibly powerful relationship modeling mechanism. The model allows the declaration that
object *A*, for example, could *follows* object *B*. Or, the relationship could be defined where object *A* is a *neighbor* of object
*B*. Verbs are supported as well, such that *a person* *drove* *a car*, where person and car are just Objects with a `type` of person
and car, respectively.

The `relatedEntityReferenceType` and `relatedReferenceUrn` should always be treated as the subordinate object in the relationship that is described by the `relationshipType` field. Consider these examples that illustrate this concept:

`````
Entity Reference Type `Object` identified by Reference URN 1A2B3C has a Child relationship type with Related Entity Reference Type `Object` identified by Reference URN 4D5E6F.
`````

`````
Entity Reference Type `ObjectInteractionSession` identified by Reference URN 1A2B3C has a Child relationship type with Related Entity Reference Type `Device` identified by Reference URN 4D5E6F.
`````

`````
Entity Reference Type `Object` identified by Reference URN 1A2B3C has a Peer relationship type with Related Entity Reference Type `Object` identified by Reference URN 4D5E6F.
`````

The relationship `type` field is used to capture the high level categorization that describes the logical interaction between the two
referenced objects. The platform makes no inferences from any relationships defined.

## Relationship Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
account | IAccount  | true | false | Full | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
entityReferenceType | EntityReferenceType | true | false | Minimum |
referenceUrn | UUID | true | false | Minimum |
type | String | true | false | Minimum |
relatedEntityReferenceType | EntityReferenceType | true | false | Minimum |
relatedReferenceUrn | UUID | true | false | Minimum |

### Field Notes
- The `entityReferenceType` and `referenceUrn` fields jointly represent the *owner* or *initiator* of the relationship
- The `relatedEntityReferenceType` and `relatedReferenceUrn` fields jointly represent the *subordinate* member of the relationship
- The `type` field is available to create an ontology or high level categories that can be used to group related relationships.
The platform makes no inferences about this case-sensitive field.

Note that for the `referenceUrn` and `relatedReferenceUrn` fields, if the URN refers to an Object (and not, say, a Device or File or LibraryElement),
you can use as input either the objectUrn or the system-assigned UUID, and the platform will resolve it for you.

## Relationship Management [/rest/relationships/{entityReferenceType}/{referenceUrn}]
### Create a new relationship [PUT]

The following object fields are all required to create a new record:

- `entityReferenceType` is required and constrained to a valid EntityReferenceType value defined in
[data types](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/blob/master/DATA_TYPES.md "Data Types")
- `referenceUrn` must point to a pre-existing object URN or system-assigned UUID of the given `entityReferenceType`
- `type` is required and constrained to 255 characters
- `relatedEntityReferenceType` is required and constrained to a valid EntityReferenceType value defined in
[data types](https://github.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/blob/master/DATA_TYPES.md "Data Types")
- `relatedReferenceUrn` must point to a pre-existing object URN or system-assigned UUID of the given `relatedEntityReferenceType`
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

#### Idempotent Behavior
This endpoint is idempotent and will respond with an appropriate HTTP status code to indicate the actual result

- **201 SUCCESS_CREATED** if the record is new
- **200 SUCCESS_OK** if a relationship between the referenced objects already existed in the database, in which
case **the `type` field and `moniker` fields are updated to reflect the values submitted**

+ Parameters
    + entityReferenceType (required, EntityReferenceType, `Object`) ... Valid EntityReferenceType enum value
    + referenceUrn (required, string, `urn:building:mall:123`) ... Case-sensitive `object urn` of an existing entity of type `entityReferenceType`

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

    + Body

            {
                "type": "Contains",
                "relatedEntityReferenceType": "Object",
                "relatedReferenceUrn" : "urn:building:shop:456"
            }

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipDefined

    + Body

            {
                "code" : 1,
                "message" : "a903a905-6923-4ba7-8db3-b138a241c954"
            }

+ Response 201 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipDefined

    + Body

            {
                "code" : 1,
                "message" : "a903a905-6923-4ba7-8db3-b138a241c954"
            }

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:building:shop:456 exists"
            }

+ Response 401

## Relationship Management by system URN [/rest/relationships/{urn}{?view}]
### Lookup specific relationship by URN [GET]

Lookup a specific relationship by its system-assigned URN key.

+ Parameters
    + urn: `a903a905-6923-4ba7-8db3-b138a241c954` (required, string) - System-assigned URN assigned at creation, or objectUrn
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipAccessed
            SmartCosmos-View : Standard

    + Body

            {
                "urn": "a903a905-6923-4ba7-8db3-b138a241c954",
                "entityReferenceType": "Object",
                "referenceUrn" : "urn:building:shop:123",
                "type" : "Owns",
                "relatedEntityReferenceType": "Object",
                "relatedReferenceUrn" : "urn:building:shop:456",
                "lastModifiedTimestamp" : 1436872600667,
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:66b7d3e9-69e1-499e-a867-9c4a939c6f7d exists"
            }

+ Response 401

## Delete Relationship by URN [/rest/relationships/{urn}]
### Deletes an relationship by system-assigned URN or objectURN [DELETE]

Deletes an existing relationship by its system-assigned URN key.

+ Parameters
    + urn: `a903a905-6923-4ba7-8db3-b138a241c954` (required, string) - System-assigned URN assigned at creation, or objectUrn

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:66b7d3e9-69e1-499e-a867-9c4a939c6f7d exists"
            }

+ Response 401


## Look Up All Relationships Between Entities [/rest/relationships/{entityReferenceType}/{referenceUrn}/{relatedEntityReferenceType}/{relatedReferenceUrn}{?view}]
### Look up an array of relationships [GET]

Lookup an array of all defined relationships between any two entities.

+ Parameters
    + entityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + referenceUrn: `urn:building:shop:123` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `entityReferenceType`
    + relatedEntityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + relatedReferenceUrn: `urn:building:shop:456` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `relatedEntityReferenceType`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipAccessed
            SmartCosmos-View : Standard

    + Body

            [
                {
                    "urn": "a903a905-6923-4ba7-8db3-b138a241c954",
                    "entityReferenceType": "Object",
                    "referenceUrn" : "urn:building:shop:123",
                    "type" : "Owns",
                    "relatedEntityReferenceType": "Object",
                    "relatedReferenceUrn" : "urn:building:shop:456",
                    "lastModifiedTimestamp" : 1436872600667,
                }
            ]

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:uuid:12345 exists"
            }

+ Response 401

## Look Up Specific Relationship Between Entities [/rest/relationships/{entityReferenceType}/{referenceUrn}/{relatedEntityReferenceType}/{relatedReferenceUrn}/{type}{?view}]
### Look up a specific relationship [GET]

Lookup a specific relationship between any two entities.

+ Parameters
    + entityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + referenceUrn: `urn:building:shop:123` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `entityReferenceType`
    + relatedEntityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + relatedReferenceUrn: `urn:building:shop:456` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `relatedEntityReferenceType`
    + type: `Owns` (required, string) - Case-sensitive `type` of relationship to look for
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipAccessed
            SmartCosmos-View : Standard

    + Body

            {
                "urn": "a903a905-6923-4ba7-8db3-b138a241c954",
                "entityReferenceType": "Object",
                "referenceUrn" : "urn:building:shop:123",
                "type" : "Owns",
                "relatedEntityReferenceType": "Object",
                "relatedReferenceUrn" : "urn:building:shop:456",
                "lastModifiedTimestamp" : 1436872600667,
            }

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:building:shop:456 exists"
            }

+ Response 401

## Look Up Relationships By Type [/rest/relationships/{entityReferenceType}/{referenceUrn}/{type}{?view,reverse}]
### Look up all defined relationships by type [GET]

Lookup an array of all defined relationships of the specific type.

+ Parameters
    + entityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + referenceUrn: `urn:uuid:12345` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `entityReferenceType`
    + type: `Owns` (required, string) - Case-sensitive `type` of relationship to look for
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`
    + reverse: `false` (optional, boolean) - Flips the query around, finding those relationships where the `entityReferenceType` and `referenceUrn` are in the related fields(defalts to false)
         + Default: `false`

+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipAccessed
            SmartCosmos-View : Standard

    + Body

            [
                {
                    "urn": "a903a905-6923-4ba7-8db3-b138a241c954",
                    "entityReferenceType": "Object",
                    "referenceUrn" : "urn:building:shop:123",
                    "type" : "Owns",
                    "relatedEntityReferenceType": "Object",
                    "relatedReferenceUrn" : "urn:building:shop:456",
                    "lastModifiedTimestamp" : 1436872600667,
                }
            ]

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:building:shop:456 exists"
            }

+ Response 401

## Look Up All Relationships [/rest/relationships/{entityReferenceType}/{referenceUrn}{?view,reverse,checkReciprocal}]
### Look up all defined relationships of an specific entity [GET]

Lookup an array of all defined relationships of the specific type.

+ Parameters
    + entityReferenceType: `Object` (required, EntityReferenceType) - Valid EntityReferenceType enum value
    + referenceUrn: `urn:uuid:12345` (required, string) - Case-sensitive `urn (UUID)` or `objectUrn` of an existing entity of type `entityReferenceType`
    + view: `Standard` (optional, string) - A valid JSON Serialization View name (case-sensitive)
        + Default: `Standard`
    + reverse: `false` (optional, boolean) - Flips the query around, finding those relationships where the `entityReferenceType` and `referenceUrn` are in the related fields
        + Default: `false`
    + checkReciprocal: `false` (optional, boolean) - 
        + Default: `false`
  
+ Request

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/

+ Response 200 (application/json)

    + Headers

            SmartCosmos-Event : RelationshipAccessed
            SmartCosmos-View : Standard

    + Body

            [
                {
                    "urn": "a903a905-6923-4ba7-8db3-b138a241c954",
                    "entityReferenceType": "Object",
                    "referenceUrn" : "urn:building:shop:123",
                    "type" : "Owns",
                    "relatedEntityReferenceType": "Object",
                    "relatedReferenceUrn" : "urn:building:shop:456",
                    "lastModifiedTimestamp" : 1436872600667,
                }
            ]

+ Response 204

+ Response 400 (application/json)

    + Body

            {
                "code" : -8,
                "message" : "No matching record with Object of urn:building:shop:456 exists"
            }

+ Response 401

# Group Geospatial Endpoints
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Geospatial_Path-Label.png "Geospatial Endpoint")
![alt text](https://raw.githubusercontent.com/SMARTRACTECHNOLOGY/smartcosmos-objects-api/master/images/endpoints/Endpoint_Geospatial_Shape-Label.png "Geospatial Shape Endpoint")

## Overview
SMART COSMOS Objects fully supports the [GeoJSON 1.0 Specification](http://geojson.org/geojson-spec.html). This powerful specification 
allows develoeprs to _fully_ define georectified shapes for any object managed by the platform.

The design is similar to popular social media sites that offer check-in capabilities. It is reasonble to define a single 
georectified entity and then create multiple relationships, such as check-ins, etc. (Remember, the relationship type is an 
arbitrary String, so a relationship type of "Check-In" could be arbitrarily defined by the developer)

## Geospatial Fields
Field | Data Type | Required | Can Update | Serialization Level | Default Value
------------ | ------------- | ------------ | ------------ | ------------ | ------------
urn | UUID  | true | false | Minimum | Generated
lastModifiedTimestamp | long   | true | false | Standard | Generated
moniker | String  | false | true | Full | null
account | IAccount  | true | false | Full | Generated
name | String  | true | true | Minimum |
description | String  | false | true | Standard |
activeFlag | Boolean  | true | false | Standard  |
geometricShape | GeometricShape | true | true | Minimum | 
type | String | true | true | Minimum | 


### Field Notes
- The `geometricShape` field fully contains the georectified shape definition.
- The `type` field is available to create an ontology or high level categories that can be used to group related interactions. 
The platform makes no inferences about this case-sensitive field.

## Geospatial Management [/rest/geospatial]
### Define a geospatial entry [PUT]

The following fields may be used to create a new record:

- `name` is required and constrained to 255 characters
- `description` is optional and constrained to 1024 characters and may be omitted; defaults to **null**
- `activeFlag` is optional and may be omitted; defaults to **true**
- `geometricShape` is required and must conform to the [GeoJSON 1.0 Specification](http://geojson.org/geojson-spec.html)
- `type` is required and constrained to 255 characters
- `moniker` is optional and constrained to 2048 characters may be omitted; defaults to **null**

+ Request (application/json)

    + Headers

            Authorization: Basic eW91QGZvby5jb20gOiBOM3dzM2NyM3Q/
            
    + Body
    
            {
                "name" : "Campus at 5th Street",
                "type" : "Building",
                "geometricShape" :
                    {
                      "type": "FeatureCollection",
                      "features": [{
                        "type": "Feature",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [[
                            [13.42634, 52.49533],
                            [13.42660, 52.49524],
                            [13.42619, 52.49483],
                            [13.42583, 52.49495],
                            [13.42590, 52.49501],
                            [13.42611, 52.49494],
                            [13.42640, 52.49525],
                            [13.42630, 52.49529],
                            [13.42634, 52.49533]
                          ]]
                        },
                        "properties": {
                          "color": "rgb(255,200,150)",
                          "height": 150
                        }
                      }, {
[...]
